{% extends "base.html" %}
{% block title %}About Us | Nolan{% endblock title %}
{% block content %}
<div class="my-20 px-10">
    <p class="text-[#636469]">NOLANAI // ABOUT</p>
</div>
<div class="px-5 text-white">
    <h1 class="md:text-8xl text-5xl font-extrabold px-10">About Us</h1>
    <div class="md:w-[75%] m-auto">
        <div class="mt-32" id="section1">
            <h1 class="text-5xl font-bold">Our mission</h1>
            <p class="md:text-xl text-2xl mt-10 text-white"> Welcome to NolanAi, the AI-driven scriptwriting software for screenwriters at any level. Our mission
                is to guide and empower you in crafting captivating screenplays while preserving your unique voice.
            </p>
        </div>
    </div>

    <div class="md:w-[75%] m-auto">
        <div class="mt-10" id="section1">
            <h1 class="text-5xl font-bold">What is NolanAI?</h1>
            <p class="md:text-xl text-2xl mt-5 text-white">NolanAi is the ultimate AI-driven script writing software that can help screenwriters of all levels. It's designed to guide and assist you in bringing your stories to the screenplay industry format, without stealing your creativity.
            </p>
            <p class="md:text-xl text-2xl mt-5 text-white">If you're new to the industry, NolanAi can be your co-pilot, helping you through the emotional and exhausting process of screenwriting.
            </p>
           <p class="md:text-xl text-2xl mt-5 text-white">With its powerful algorithms and intuitive interface, it can offer suggestions and guidance on character development, plot points, and dialogue, helping you turn your ideas into polished screenplays.
            </p> 
           <p class="md:text-xl text-2xl mt-5 text-white">For experienced scriptwriters, NolanAi can bring new ideas and inspiration to your writing. It can suggest fresh angles, plot twists, and character arcs, helping you take your craft to the next level. And throughout the writing process, you're always in control.
        </div>
    </div>

    <div class="md:w-[75%] m-auto">
        <div class="mt-10" id="section1">
            <h1 class="text-5xl font-bold">For Novice Screenwriters:</h1>
            <p class="md:text-xl text-2xl mt-10 text-white">If you're new to the industry, NolanAi is your trusted co-pilot on the exhilarating screenwriting journey. We understand the emotional and exhaustive nature of the process, which is why NolanAI is here to provide valuable suggestions and guidance. Our powerful algorithms and intuitive interface help you master character development, plot points, and dialogue while getting a grip on screenplay formatting.
            </p>
        </div>
    </div>
    <div class="md:w-[75%] m-auto">
        <div class="mt-10" id="section1">
            <h1 class="text-5xl font-bold">For Second Screenwriters:</h1>
            <p class="md:text-xl text-2xl mt-10 text-white">Even experienced scriptwriters need a creative spark. NolanAI acts as your catalyst, offering fresh ideas and innovative perspectives to elevate your writing. Discover new angles, plot twists, and character arcs that enhance your storytelling. NolanAI complements your expertise by working alongside you, amplifying your skills. Check out our advanced plans for professionals like you here: <a class="font-thin  text-blue-700" href="#">Check premium plan</a> 
            </p>
        </div>
    </div>
    <div class="md:w-[75%] m-auto">
        <div class="mt-10" id="section1">
            <h1 class="text-5xl font-bold">Control and Creativity:</h1>
            <p class="md:text-xl text-2xl mt-10 text-white">We believe in empowering screenwriters, not taking over. With NolanAi, you're always in control. Our AI-powered features seamlessly integrate into your workflow, providing intelligent suggestions and streamlining your creative process. Our user-friendly interface allows you to effortlessly shape and refine your scripts, bringing your stories to life efficiently and effectively.
            </p>
            <p class="font-bold text-2xl mt-10">Experience the transformative impact of NolanAi and unleash your screenwriting potential today.</p>
        </div>
    </div>

    <div class="font-bold text-2xl md:w-[75%] mx-auto my-20">
        <h1 class="">Drop us an email: <a class="font-semibold  text-blue-700" href="">hello@nolanai.app</a></h1>
        <h1 class="">For support: <a class="font-bold  text-blue-700" href="">support@nolanai.app</a></h1>
    </div>
</div>
{% endblock content %}