{% extends "base.html" %}
{% load static %}
{% block title %}Features | Nolan{% endblock title %}
{% block content %}
 <!-- image section star here -->
 <div class="h-[50vh]">
    <div> <img class="absolute object-cover -z-30 md:w-full h-[50%]" src="{% static 'img/Rightanglecamera.webp' %}"
            alt="hero image for Studios"></div>
    <div class="text-white absolute z-20 top-20 left-[5vw]">
        <p class="md:text-7xl font-bold my-5 text-5xl">FEATURES</p>
        <p class="md:text-2xl font-bold my-5 text-xl">See what NolanAI comprehensive toolkit can do for you.</p>
    </div>
</div>
<!-- image section end here -->

<!-- card container star here -->

<div class="md:px-10 px-2 flex flex-col xl:flex-row justify-center items-center  mx-auto -mt-20 gap-4" id="card-container">

    <!-- First card -->

    <div class="bg-[#2B2D33] flex-grow rounded-xl xl:w-48 h-72 shadow-md shadow-cyan-500/75" id="card">
        <div class="px-10 flex h-64">
            
            <div class="bg-blue-600 my-8 w-[5rem] h-[5rem] rounded-[5rem] flex  flex-col justify-center items-center" style="background: rgb(19, 100, 217);">
                <span class="material-symbols-outlined text-4xl text-white">schedule</span>
            </div>

            <div class="text-white w-3/4">
                <h1 class="md:text-2xl text-lg font-bold py-5 px-2">SCHEDULING</h1>
                <p class="text-sm pb-5 px-2 font-semibold text-[#636469] leading-5">Automatically sorts your stripboard (with advanced algorithms and the power of AI) in the most efficient way for shooting.</p>
            </div>
        </div>

        <div class="px-10 flex items-end">
            <p class="text-white">Explore Features </p>
        </div>
    </div>
   
    <!-- First card end here -->

    <!-- Second card -->
    <div class="bg-[#2B2D33] flex-grow rounded-xl xl:w-48 h-72 shadow-md shadow-cyan-500/75" id="card">
        <div class="px-10 flex h-64">
            
            <div class="bg-blue-600 my-8 w-[5rem] h-[5rem] rounded-[5rem] flex  flex-col justify-center items-center" style="background: rgb(218, 136, 19);">
                <span class="material-symbols-outlined text-4xl text-white">psychology</span>
            </div>

            <div class="text-white w-3/4">
                <h1 class="md:text-2xl text-lg font-bold py-5 px-2">BRAINSTORMING</h1>
                <p class="text-sm pb-5 px-2 font-semibold text-[#636469] leading-5">Collaborate with AI on brainstorming for script and screenplay writing.</p>
            </div>
        </div>

        <div class="px-10 flex items-end">
            <p class="text-white">Explore Features </p>
        </div>
    </div>
    <!-- second card end here -->

    <!-- third card -->
    <div class="bg-[#2B2D33] flex-grow rounded-xl xl:w-48 h-72 shadow-md shadow-cyan-500/75" id="card">
        <div class="px-10 flex h-64">
            
            <div class="bg-blue-600 my-8 w-[5rem] h-[5rem] rounded-[5rem] flex  flex-col justify-center items-center" style="background: rgb(100, 156, 7);">
                <span class="material-symbols-outlined text-4xl text-white">developer_board</span>
            </div>

            <div class="text-white w-3/4">
                <h1 class="md:text-2xl text-lg font-bold py-5 px-2">STORYBOARD</h1>
                <p class="text-sm pb-5 px-2 font-semibold text-[#636469] leading-5">Next-Level Storyboard for Film and Story Development</p>
            </div>
        </div>

        <div class="px-10 flex items-end">
            <p class="text-white">Explore Features </p>
        </div>
    </div>

    <!-- third card end here -->
</div>
<!-- card container end here -->

<!-- card container star here -->

<div class="md:px-10 px-2 flex flex-col xl:flex-row justify-center items-center mt-16 mx-auto gap-4" id="card-container">

    <!-- First card -->

    <div class="bg-[#2B2D33] flex-grow rounded-xl xl:w-48 h-72 shadow-md shadow-cyan-500/75" id="card">
        <div class="px-10 flex h-64">
            
            <div class="bg-blue-600 my-8 w-[5rem] h-[5rem] rounded-[5rem] flex  flex-col justify-center items-center" style="background: rgb(126, 8, 43);">
                <span class="material-symbols-outlined text-4xl text-white">video_camera_front</span>
            </div>

            <div class="text-white w-3/4">
                <h1 class="md:text-2xl text-lg font-bold py-5 px-2">CHARACTER DEVELOPMENT</h1>
                <p class="text-sm pb-5 px-2 font-semibold text-[#636469] leading-5">Create, Edit your character with help of AI. </p>
            </div>
        </div>

        <div class="px-10 flex items-end">
            <p class="text-white">Explore Features </p>
        </div>
    </div>
   
    <!-- First card end here -->

    <!-- Second card -->
    <div class="bg-[#2B2D33] flex-grow rounded-xl xl:w-48 h-72 shadow-md shadow-cyan-500/75" id="card">
        <div class="px-10 flex h-64">
            
            <div class="bg-blue-600 my-8 w-[5rem] h-[5rem] rounded-[5rem] flex  flex-col justify-center items-center" style="background: rgb(131, 198, 25);">
                <span class="material-symbols-outlined text-4xl text-white">auto_awesome</span>
            </div>

            <div class="text-white w-3/4">
                <h1 class="md:text-2xl text-lg font-bold py-5 px-2">AI COPILOT</h1>
                <p class="text-sm pb-5 px-2 font-semibold text-[#636469] leading-5">To help you create high-quality story, Nolan offers a powerful  AI editing feature. </p>
            </div>
        </div>

        <div class="px-10 flex items-end">
            <p class="text-white">Explore Features </p>
        </div>
    </div>
    <!-- second card end here -->

    <!-- third card -->
    <div class="bg-[#2B2D33] flex-grow rounded-xl xl:w-48 h-72 shadow-md shadow-cyan-500/75" id="card">
        <div class="px-10 flex h-64">
            
            <div class="bg-blue-600 my-8 w-[5rem] h-[5rem] rounded-[5rem] flex  flex-col justify-center items-center" style="background: rgb(213, 73, 39);">
                <span class="material-symbols-outlined text-4xl text-white">format_align_center</span>
            </div>

            <div class="text-white w-3/4">
                <h1 class="md:text-2xl text-lg font-bold py-5 px-2">SMART FORMATTING</h1>
                <p class="text-sm pb-5 px-2 font-semibold text-[#636469] leading-5">Script Smart uses advanced algorithms to automatically format your text into a screenplay format.</p>
            </div>
        </div>

        <div class="px-10 flex items-end">
            <p class="text-white">Explore Features </p>
        </div>
    </div>

    <!-- third card end here -->
</div>
<!-- card container end here -->
<!-- card container star here -->

<div class="md:px-10 px-2 flex flex-col xl:flex-row justify-center items-center mt-16 mx-auto gap-4" id="card-container">

    <!-- First card -->

    <div class="bg-[#2B2D33] flex-grow rounded-xl xl:w-48 h-72 shadow-md shadow-cyan-500/75" id="card">
        <div class="px-10 flex h-64">
            
            <div class="bg-blue-600 my-8 w-[5rem] h-[5rem] rounded-[5rem] flex  flex-col justify-center items-center" style="background: rgb(6, 80, 185);">
                <span class="material-symbols-outlined text-4xl text-white">list_alt</span>
            </div>

            <div class="text-white w-3/4">
                <h1 class="md:text-2xl text-lg font-bold py-5 px-2">AUTOMATIC SCRIPT BREAKDOWN</h1>
                <p class="text-sm pb-5 px-2 font-semibold text-[#636469] leading-5">The Automatic Screenplay Breakdown (Break Smart) is a time-saving solution that simplifies the process of deconstructing a screenplay.</p>
            </div>
        </div>

        <div class="px-10 flex items-end">
            <p class="text-white">Explore Features </p>
        </div>
    </div>
   
    <!-- First card end here -->

    <!-- Second card -->
    <div class="bg-[#2B2D33] flex-grow rounded-xl xl:w-48 h-72 shadow-md shadow-cyan-500/75" id="card">
        <div class="px-10 flex h-64">
            
            <div class="bg-blue-600 my-8 w-[5rem] h-[5rem] rounded-[5rem] flex  flex-col justify-center items-center" style="background: rgb(177, 30, 70);">
                <span class="material-symbols-outlined text-4xl text-white">troubleshoot</span>
            </div>

            <div class="text-white w-3/4">
                <h1 class="md:text-2xl text-lg font-bold py-5 px-2">PLOT HOLE DETECTION REPORT</h1>
                <p class="text-sm pb-5 px-2 font-semibold text-[#636469] leading-5">With the Plot Hole Detection Report, you can ensure the consistency and quality of your story, enhancing the overall engagement of your content.</p>
            </div>
        </div>

        <div class="px-10 flex items-end">
            <p class="text-white">Explore Features </p>
        </div>
    </div>
    <!-- second card end here -->

    <!-- third card -->
    <div class="bg-[#2B2D33] flex-grow rounded-xl xl:w-48 h-72 shadow-md shadow-cyan-500/75" id="card">
        <div class="px-10 flex h-64">
            
            <div class="bg-blue-600 my-8 w-[5rem] h-[5rem] rounded-[5rem] flex  flex-col justify-center items-center" style="background: rgb(218, 136, 19);">
                <span class="material-symbols-outlined text-4xl text-white">drive_file_rename_outline</span>
            </div>

            <div class="text-white w-3/4">
                <h1 class="md:text-2xl text-lg font-bold py-5 px-2">THE INDUSTRY STANDARD EDITOR</h1>
                <p class="text-sm pb-5 px-2 font-semibold text-[#636469] leading-5">Nolan provides a user-friendly interface, advanced formatting options.</p>
            </div>
        </div>

        <div class="px-10 flex items-end">
            <p class="text-white">Explore Features </p>
        </div>
    </div>

    <!-- third card end here -->
</div>
{% endblock content %}