{% load static %}
<style>
  .popup {
    position: fixed;
    z-index: 1;
    left: 24px;
    top: 50px;
right:24px;
    width: 520px;
    height: auto;
margin: 0 auto;
font-size: 14px;
    
    background-color: rgba(0, 0, 0, 0.4);
    display: none;

}

.popup-content button {
    display: block;
    margin: 0 auto;
}
.show {
    display: block;
}
</style>
<header class="fixed z-50 left-0 right-0 top-0">
  <nav
    class="md:px-7 py-3 flex flex-col justify-start items-start lg:flex-row lg:justify-between lg:items-center"
    id="navbar"
  >
    <div class="flex gap-5 px-3 justify-center items-center">
      <button class="text-white text-2xl lg:hidden">
        <i onclick="toggleMenu()" class="fa-solid fa-bars" id="menubar"></i>
      </button>
      <a href="{% url 'core:home'%}"
        ><img src="{% static "/img/logo.svg " %}" alt="logo."></a
      >
    </div>
    <div class="hidden lg:block w-full lg:w-auto" id="navbar-visible">
      <ul
        class="text-white lg:space-x-8 lg:justify-center lg:items-center font-medium py-5 lg:py-0 flex flex-col lg:gap-0 text-2xl lg:text-base bg-[#2B2D33] lg:bg-transparent w-full my-4 lg:my-0 lg:w-auto lg:flex-row"
      >
        <li
          class="border-b py-5 px-5 border-black lg:border-none lg:px-0 lg:py-0"
        >
          <a href="{% url 'core:about'%}">About Us</a>
        </li>
        <li
          class="border-b py-5 px-5 border-black lg:border-none lg:px-0 lg:py-0"
        >
          <a href="{% url 'core:pricing'%}">Pricing</a>
        </li>
        <li
          class="border-b py-5 px-5 border-black lg:border-none lg:px-0 lg:py-0"
        >
          <a href="{% url 'core:for_studios' %}">For Studios</a>
        </li>
        <li
          class="border-b py-5 px-5 border-black lg:border-none lg:px-0 lg:py-0"
        >
          <a href="{% url 'core:features' %}">Features</a>
        </li>
        <li
          class="border-b py-5 px-5 border-black lg:border-none lg:px-0 lg:py-0"
        >
          <button id="myButton">Create Script</button>
        </li>
          <div id="myPopup" class="popup">
            <div class=" bg-white rounded-lg ">
                <div class="flex justify-between px-5 py-4 text-black/80 text-xl font-bold border-b">
                    <h1>Create a new script</h1>                
                    <button class="bg-gray-200 rounded-full justify-center items-center w-8 h-8"><span class="material-symbols-outlined text-blue-700 text-base font-bold">close</span> </button>
                </div>
                <div class="text-base">
                    <p class="text-gray-600 px-5 py-6">Select the format you want to write a script for:</p>
                </div>
    
                <div class="text-black border rounded-xl my-4 flex justify-center cursor-pointer mx-5 items-center">
                    <input type="radio" name="" id="film" class="w-5 h-5 ml-5">
                    <div class="flex flex-col justify-center items-start px-8 py-4">
                        <label  for="film" class="text-lg font-bold">Feature Film  <p class="font-normal text-sm"> Begin crafting your feature film screenplay with the assistance of Co-Pilot's power.</p></label>    
                    </div>
                </div>
                <div class="text-black border rounded-xl mb-5 flex justify-center cursor-pointer mx-5 items-center">
                    <input type="radio" name="" id="video" class="w-5 h-5 ml-5">
                    <div class="flex flex-col justify-center items-start px-8 py-4">
                        <label  for="video" class="text-lg font-bold">Video Short<p class="font-normal text-sm"> Take your video shorts to new heights by utilizing AI to craft your scripts in screenplay format.</p></label>    
                    </div>
                </div>
                <hr>
                <div class="flex justify-between items-center px-10 my-5">
                  <a href="{% url 'core:home' %}"><button class="text-blue-700 bg-gray-300 px-5 py-2 rounded-full font-bold">Cancel</button></a>
                    <a href="{% url 'core:create_script' %}"><button class="bg-blue-700 text-white px-5 py-2 rounded-full font-bold">Next →</button></a>
                </div>
            </div>
        </div>
        <li
          class="border-b py-5 px-5 border-black lg:border-none lg:px-0 lg:py-0"
        >
          <a href="{% url 'core:blog'%}">Blog</a>
        </li>
        {% if user.is_authenticated %}
        <li
          class="bg-white text-center text-black lg:px-4 lg:py-1 font-bold rounded-full border-b py-4 px-5 my-4 lg:my-0 border-black lg:border-none"
        >
          <a href="{% url 'account_logout'%}">Log out</a>
        </li>
        {% else  %}
        <li
          class="bg-white text-center text-black lg:px-4 lg:py-1 font-bold rounded-full border-b py-4 px-5 my-4 lg:my-0 border-black lg:border-none"
        >
          <a href="{% url 'account_login'%}">Log in</a>
        </li>
        {% endif %}
        <!-- <button
                  class="bg-white text-black lg:px-4 lg:py-1 font-bold rounded-full border-b py-4 px-5 my-4 lg:my-0 border-black lg:border-none">Log
                  in</button> -->
      </ul>
    </div>
  </nav>
</header>

<script>
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 50) {
        $(".navbar").addClass("scrolled");
      } else {
        $(".navbar").removeClass("scrolled");
      }
    });
  });
</script>
<script>
  myButton.addEventListener("click", function () {
      myPopup.classList.add("show");
  });
  closePopup.addEventListener("click", function () {
      myPopup.classList.remove("show");
  });
  window.addEventListener("click", function (event) {
      if (event.target == myPopup) {
          myPopup.classList.remove("show");
      }
  });
</script>
